h2
{
	display: inline-block;
	color: white;
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	font-size: 1.6em;
	text-align: center;
	background-color: #fdb97e;
	margin: 100px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	border-top: 2px solid mediumpurple;
	border-bottom: 2px solid mediumpurple;
	width: 100%
	
}

h3
{
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	font-size: 1.6em;
	color: mediumpurple;
	margin: 150px 20px 40px 20px;
	padding: 5px;
	text-align: center;
}

h4
{
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	color: mediumpurple;
	font-size: 1.2em;
	margin: 50px 20px -5px 20px;
	background-color: white;
	padding: 10px 5px 10px 5px;
	border-top: 2px solid mediumpurple;
	border-bottom: 1px solid mediumpurple;
	border-left: 2px solid mediumpurple;
	border-right: 2px solid mediumpurple;
}

.chev
{
	font-size: 1.3em;
	color: white;
}

em
{
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	color: mediumpurple;
	font-size: 0.9em;
	font-style: italic;
}

h5
{
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin: 15px 0px -15px 0px;
}

section
{
	margin-right: 25%;
	margin-left: 25%;
}

ol
{
	list-style-type: none;
}

p
{
	margin: 5px 20px 5px 20px;
	background-color: white;
	padding: 10px 5px 10px 5px;
	border: 2px solid mediumpurple;
	border-top: none;
}

a
{
	color: mediumpurple;
	text-decoration:none;
}

a:hover
{
	color: #662fd7;
}

.retourmenu
{
	display: block;
	font-family: Arial, "Trebuchet MS", "Time New Roman", sans-serif;
	font-size: 0.7em;
	text-align: center;
	margin: 10em 10em 20em 10em;
	color: mediumpurple;
}

img.bas
{
	width: 25px;
	height: 25px;
}

body
{
	background-image: url("images/circuits3b.png");
	background-attachment: scroll;
	background-repeat: repeat;
	width: 100%;
	margin: 0;
}

#titre_principal
{
	display: inline-block;
	color: white;
	font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
	font-size: 0.8em;
	width: 100%;
	margin: 0;
}


/* Header */

header
{
	background-image: -webkit-linear-gradient(to top, #bb9afe 0%, #8868cb 40%);
	background-image: linear-gradient(to bottom, #bb9afe 0%, #8868cb 40%);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 15px double white;
	margin: 0% 0% 5% 0%;
	
}

/* Menu titre*/
.nav1
{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0px;
}

.nav1 ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.nav1 li
{
	display: inline-block;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px 0px 0px -4px;
	padding: 0px;
	border-left:1px solid black;
}
.nav1 a
{
	font-size: 1em;
	font-weight: bold;
	color: white;
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	text-decoration: none;
}

.nav1 ul li a
{
	float:left; 
	background-image: -webkit-linear-gradient(to top, #e3d6ff 0%, #8868cb 60%);
	background-image: linear-gradient(to bottom, #e3d6ff 0%, #8868cb 60%);
	width: 150px;
	line-height:30px; /*hauteur de l'image de fond*/
}

.nav1 ul li a:hover 
{
	background:mediumpurple url(images/menuviolet2d.png) repeat-x;
	color:white;
}



/*Menu déroulant*/
.menu-demo2 ul, .menu-demo3 ul
{
	padding:0px;
	margin: 0px;
	list-style:none;
	text-align: center;
}

/*Aligne horizontalement le menu. Possibilité de règler la taille des titres des menus(width:). Penser à mettre width: 100%; à ul li pour adapter les sous menus. position:relative; règle les sous menus */
.menu-demo2 li, .menu-demo3 li
{
	display:inline-block;
	position:relative;
	border-radius:12px 12px 0 0;
	width: 20%;
	padding: 0px 0px 0px 0px;
	border: 1px solid white;
}

.menu-demo2 li li, .menu-demo3 li li
{
	border: none;
	
}


/*Aligne verticalement les sous menus (display: inherit; enlève l'alignement horizontal des sous menus). width: 100%; pour adapter les sous menus à la taille des menus titres*/
.menu-demo2 ul li, .menu-demo3 ul li
{
	display:inherit;
	border-radius:0px;
	width:100%;
}

.menu-demo2 ul li:hover, .menu-demo3 ul li:hover
{
	border-radius:0;
}

.menu-demo2 ul li:last-child, .menu-demo3 ul li:last-child
{
	border-radius:0 0 8px 8px;
}

/*position: absolute; fixe le menu. -moz-transition: -webkit-transition: transition: = temps déroulement menus aller/retour*/
.menu-demo2 ul, .menu-demo3 ul
{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .5s all .1s;
	-webkit-transition: .5s all .1s;
	transition: .5s all .1s;
}
/* Règle la hauteur des sous menus*/
.menu-demo2 li:hover ul, .menu-demo3 li:hover ul
{
	max-height:15em;
}

/* background des liens menus */
/*Violet*/
.menu-demo2 li:first-child
{
background-color: #bb9afe;
background-image:-webkit-linear-gradient(top, #cab3f8 0%, #7458ad 100%);
background-image:linear-gradient(to bottom, #cab3f8 0%, #7458ad 100%);
}
/*Bleu*/
.menu-demo2 li:nth-child(2){
background-color: #8181fd;
background-image: -webkit-linear-gradient(top, #afaffa 0%, #0606c1 100%);
background-image:linear-gradient(to bottom, #afaffa 0%, #0606c1 100%);
}
/*Orange*/
.menu-demo2 li:nth-child(3){
background-color: #fdb97e;
background-image:-webkit-linear-gradient(top, #fdc696 0%, #fd8115 100%);
background-image:linear-gradient(to bottom, #fdc696 0%, #fd8115 100%);
}
/*Vert*/
.menu-demo2 li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}



/*Jaune*/
.menu-demo3 li:first-child
{
background-color: #ffc115;
background-image:-webkit-linear-gradient(top, #ffde83 0%, #ffbb00 100%);
background-image:linear-gradient(to bottom, #ffde83 0%, #ffbb00 100%);
}
/*Gris*/
.menu-demo3 li:nth-child(2){
background-color: #8181fd;
background-image: -webkit-linear-gradient(top, #c1c1c1 0%, #767676 100%);
background-image:linear-gradient(to bottom, #c1c1c1 0%, #767676 100%);
}
/*Rouge*/
.menu-demo3 li:nth-child(3){
background-color: red;
background-image:-webkit-linear-gradient(top, #fdb7b7 0%, red 100%);
background-image:linear-gradient(to bottom, #fdb7b7 0%, red 100%);
}


/* background des liens sous menus */
.menu-demo2 li:first-child li{
background:#6a509f;
}
.menu-demo2 li:nth-child(2) li{
background:#01019c;
}
.menu-demo2 li:nth-child(3) li{
background:#f27101;
}
.menu-demo2 li:nth-child(4) li{
background:#7c5fb8;
}
.menu-demo2 li:last-child li{
background:#677F35;
}



/*Jaune*/
.menu-demo3 li:first-child li{
background:#f6b500;
}
/*Gris*/
.menu-demo3 li:nth-child(2) li{
background:#6e6e6e;
}
/*Rouge*/
.menu-demo3 li:nth-child(3) li{
background:red;
}


/*
#menu-demo2 .hautdepage:last-child .hautdepage{
background:red;
}
*/


/* background des liens menus et sous menus au survol */
/*.menu-demo2 li:first-child:hover, .menu-demo2 li:first-child li:hover  (avec les titres)*/
.menu-demo2 li:first-child li:hover{
background:#b28cfe;
}
.menu-demo2 li:nth-child(2) li:hover{
background:#6e6efc;
}
.menu-demo2 li:nth-child(3) li:hover{
background:#fdb97e;
}
.menu-demo2 li:nth-child(4) li:hover{
background:#c6abfe;
}
.menu-demo2 li:last-child li:hover{
background:#CFFF6A;
}



/*Jaune*/
.menu-demo3 li:first-child li:hover
{
background:#ffdb79;
}
/*Gris*/
.menu-demo3 li:nth-child(2) li:hover
{
background:#cbcbcb;
}
/*Rouge*/
.menu-demo3 li:nth-child(3) li:hover
{
background:#ff6868;
}





/*
#menu-demo2 .hautdepage:last-child:hover, #menu-demo2 .hautdepage:last-child li:hover{
background:#fd7070;
}
*/


/* Règle les a href */
.menu-demo2 a, .menu-demo3 a
{
text-decoration:none;
display:block;
padding:15px 0px;
color:#fff;
font-family: "Trebuchet MS", Arial, "Time New Roman", sans-serif;
font-size: 1.1em;
font-weight: bold;
}
/* Règler la hauteur des menus titres. Règler la largeur dans #menu-demo2 li.*/
.menu-demo2 ul a, .menu-demo3 ul a
{
padding:8px 0;
}
.menu-demo2 li:hover li a, .menu-demo3 li:hover li a{
color:#fff;
text-transform:inherit;
}
.menu-demo2 li:hover a, .menu-demo2 li li:hover a, .menu-demo3 li:hover a, .menu-demo3 li li:hover a{
color:#fff;
}

/*Centre le menu et règle sa taille*/
.menu-demo2
{
	margin: 5% 0% 0% -4%;
	text-align:center;
	width: 100%;
}

.menu-demo3
{
	margin: 14% 0% 14% -4%;						/*Les marges ici peuvent servir à règler la hauteur du menu caché*/
	text-align:center;
}




/*Pour fixer un menu (menu sur le coté de l'écran qui se cache et sort quand activé*/
.menu
{
  position: fixed;
  right: -68em;								/*Cache le menu (plus la valeur négative est élévée plus le menu est caché sur la droite)*/
  top: 43%;									/*Position du menu par rapport au haut de la fenêtre*/
  width: 70em;
  background: rgba(147, 112, 219, 0.3);		/*Couleur rgb/255 du mediumpuple et opacité en dernier */
  border: 8px double mediumpurple;
  border-radius: 40px 0px 0px 40px;
  margin: 0em 0em 0em 0em;					/*margin: 0em 0em(règle la distance à laquelle le menu sort quand il est activé) 0em 0em;*/
  padding: 0em 0em 0em 0em;					/*padding: 0em 0em 0em 0em;*/
  margin-top: 0px;
  transition: 0.8s
}      
.menu:hover { right: -20px }				/*Règle aussi la distance à laquelle le menu sort quand il est activé*/




/*Menu alphabet*/
nav
{
	display: inline-block;
	width: 100%;
	margin: 50px 0px 0px 0px;
}

nav ul
{
	list-style-type: none;
}

.navul
{
	display: block;
	text-align: center;
	border-top: 4px solid mediumpurple;
	border-bottom: 4px solid mediumpurple;
	background-color: white;
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	list-style-type: none;
}

nav li
{
	display: block;
	margin: 10px;
}

nav a
{
	font-size: 1.2em;
	font-weight: bold;
	color: mediumpurple;
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	text-decoration: none;
}

nav a:hover
{
color: #bb9afe;
}










@media all and (max-device-width: 480px)
{
    #titre_principal
    {
		font-size: 0.7em;
    }
	
	p
	{
		letter-spacing: -0.5%;
		word-spacing: -0.5%;
		line-height: 1.5em;
	}
    
    
	/* Règle la hauteur des sous menus*/
	.menu-demo2 li:hover ul, .menu-demo3 li:hover ul
	{
		max-height:15em;
	}
	
	
	/*Centre le menu et règle sa taille*/
	.menu-demo2
	{
		margin: 0% 0% 30% -10.5%;
		text-align:center;
		width: 100%;
	}

	.menu-demo3
	{
		margin: 15% 0% 30% -10.5%;								/*Les marges ici peuvent servir à règler la hauteur du menu caché*/
		text-align:center;
	}
    
 /*Pour fixer un menu (menu sur le coté de l'écran qui se cache et sort quand activé*/   
    .menu
	{
		position: fixed;
		right: -24.5em;									/*Cache le menu (plus la valeur négative est élévée plus le menu est caché sur la droite)*/
		top: 51%;										/*Position du menu par rapport au haut de la fenêtre*/
		width: 25em;
		border: 6px double mediumpurple;
		border-radius: 40px 0px 0px 40px;
		margin: 0em 0em 0em 0em;						/*margin: 0em 0em(règle la distance à laquelle le menu sort quand il est activé) 0em 0em;*/
		padding: 2em 0em 0em 0em;						/*padding: 0em 0em 0em 0em;*/
		margin-top: 0px;
		transition: 0.3s
	}      
	.menu:hover { right: -20px }						/*Règle aussi la distance à laquelle le menu sort quand il est activé*/

    .menu-demo2 a, .menu-demo3 a
    {
		font-size: 0.65em;
		font-weight: bold;
		padding: 10px 0px;
     }
     
    .menu-demo2 li, .menu-demo3 li
    {
		width: 22%;
		padding: 0px 0px 0px 0px;
    }
	
	
  
    .nav1 ul li a
	{
		font-size: 0.6em;
		width: 75px;
		line-height:15px; /*hauteur de l'image de fond*/
	}
	
	section
	{
		margin-right: 1%;
		margin-left: 1%;
	}
}

@media (orientation: landscape) and (max-device-width : 880px) 
{
	.nav1 ul li a
	{
		font-size: 0.9em;
		width: 100px;
		line-height:30px; /*hauteur de l'image de fond*/
	}
	
	section
	{
		margin-right: 1%;
		margin-left: 1%;
	}
	
	
	
	
	
	
	/*Centre le menu et règle sa taille*/
	.menu-demo2
	{
		margin: -6% 0% 24% -7%;
		text-align:center;
		width: 100%;
	}

	.menu-demo3
	{
		margin: 10% 0% 23% -7%;								/*Les marges ici peuvent servir à règler la hauteur du menu caché*/
		text-align:center;
	}
    
 /*Pour fixer un menu (menu sur le coté de l'écran qui se cache et sort quand activé*/   
    .menu
	{
		position: fixed;
		right: -29em;									/*Cache le menu (plus la valeur négative est élévée plus le menu est caché sur la droite)*/
		top: 0%;										/*Position du menu par rapport au haut de la fenêtre*/
		width: 30em;
		border: 6px double mediumpurple;
		border-radius: 40px 0px 0px 40px;
		margin: 0em 0.5em 0em 0em;						/*margin: 0em 0em(règle la distance à laquelle le menu sort quand il est activé) 0em 0em;*/
		padding: 2em 0em 0em 0em;						/*padding: 0em 0em 0em 0em;*/
		margin-top: 0px;
		transition: 0.3s
	}      
	.menu:hover { right: -20px }						/*Règle aussi la distance à laquelle le menu sort quand il est activé*/

    .menu-demo2 a, .menu-demo3 a
    {
		font-size: 0.6em;
		font-weight: bold;
		padding: 10px 0px;
     }
     
    .menu-demo2 li, .menu-demo3 li
    {
		width: 21%;
		padding: 0px 0px 0px 0px;
    }
	
	
	
	
	
}