/*___________________________________________________________________________________________________________________/POLICES/___________________________________________________________________________________________________________________*/

@font-face{font-family: 'Roboto-Light'; src: url('Polices/Roboto-Light.ttf');}
@font-face{font-family: 'Roboto-LightItalic'; src: url('Polices/Roboto-LightItalic.ttf');}
@font-face{font-family: 'Roboto-Regular'; src: url('Polices/Roboto-Regular.ttf');}
@font-face{font-family: 'Roboto-Italic'; src: url('Polices/Roboto-Italic.ttf');}
@font-face{font-family: 'Roboto-Medium'; src: url('Polices/Roboto-Medium.ttf');}
@font-face{font-family: 'Roboto-Condensed'; src: url('Polices/Roboto-Condensed.ttf');}
@font-face{font-family: 'Roboto-CondensedItalic'; src: url('Polices/Roboto-CondensedItalic.ttf');}
@font-face{font-family: 'Roboto-BoldCondensed'; src: url('Polices/Roboto-BoldCondensed.ttf');}
@font-face{font-family: 'Roboto-BoldCondensedItalic'; src: url('Roboto-BoldCondensedItalic.ttf');}
@font-face{font-family: 'Roboto-Bold'; src: url('Polices/Roboto-Bold.ttf');}

@font-face{font-family: 'ClementePDab-HairlineItalic'; src: url('ClementePDab-HairlineItalic.ttf');}

/*___________________________________________________________________________________________________________________/FIN POLICES/___________________________________________________________________________________________________________________*/

.ol
{
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	font-size: 1.1em;
	margin: 5% 0% 5% 5%;
	
}

h2
{
	background-color: #fdb97e;
	color: white;
	border: 1px solid mediumpurple;
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	font-size: 1.4em;
	text-align: center;
	border-left: none;
	border-right: none;
	padding: 5px 0px 5px 0px;
	margin: 3em 0em 3em 0em;
}

h3
{
	color: mediumpurple;
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	font-size: 1.1em;
	margin: 2% 0% 2% 5%;
}

h4
{
	color: white;
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	font-size: 1.1em;
	background-color: #fdb97e;
	border: 1px solid mediumpurple;
	text-align: center;
	padding: 0.1%;
	margin: 2% 60% 2% 0%;
}

h5
{
	font-family: "Trebuchet MS", Arial, "Comic Sans MS", sans-serif;
	margin: 0% 0% 1% 5%;
}

.retourmenu
{
	display: block;
	font-size: 0.7em;
	text-align: center;
	margin: 20em 10em 20em 10em;
	color: mediumpurple;
}

img.bas
{
	width: 25px;
	height: 25px;
}

.chev
{
	font-size: 1.3em;
}

em
{
	color: green;
	font-style: italic;
}

ol
{
	margin: 0% 0% 0% 5%;
}

p
{
	font-size: 0.9em;
	font-family: "Roboto-Regular", Arial, "Time New Roman", sans-serif;
	margin: 0% 5% 0% 5%;
}

a
{
	color: mediumpurple;
	text-decoration:none;
}

a:hover
{
	color: #662fd7;
}

/* Eléments principaux de la page */



body
{
	background-image: url("images/circuits3b.png");
	background-attachment: scroll;
	background-repeat: repeat;
	width: 100%;
	margin: 0;
}

/*TITRES*/
#titre_principal{
	display: inline-block;
	color: white;
	font-family: "Roboto-Light", Arial, "Time New Roman", sans-serif;
	font-size: 0.8em;
	width: 100%;
	margin: 0;
}

header{
	background-image: -webkit-linear-gradient(to top, #bb9afe 0%, #8868cb 40%);
	background-image: linear-gradient(to bottom, #bb9afe 0%, #8868cb 40%);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 15px double white;
	margin: 0% 0% 15% 0%;
}

/* Navigation */

nav
{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
nav li
{
	display: inline-block;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px 0px 0px -4px;
	padding: 0px;
	border-left:1px solid black;
}
nav a
{
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	font-family: "Roboto-Condensed", Arial, "Comic Sans MS", sans-serif;
	text-decoration: none;
}

nav ul li a
{
	float:left; 
	background-image: -webkit-linear-gradient(to top, #e3d6ff 0%, #8868cb 60%);
	background-image: linear-gradient(to bottom, #e3d6ff 0%, #8868cb 60%);
	width: 150px;
	line-height:25px; /*hauteur de l'image de fond*/
}

nav ul li a:hover 
{
	background:mediumpurple url(images/menuviolet2d.png) repeat-x;
	color:white;
}

@media all and (max-device-width: 480px)
{
	#titre_principal
	{
		font-size: 0.7em;
	}
  
    nav ul li a
	{
		font-size: 0.7em;
		width: 75px;
		line-height: 15px; /*hauteur de l'image de fond*/
	}
}

@media (orientation: landscape) and (max-device-width : 900px) 
{
	nav ul li a
	{
		width: 150px;
		line-height: 30px; /*hauteur de l'image de fond*/
	}
}

